.settings-window {
  width: calc(100% - 48px);
}
hr {
  border: 0;
  border-top: 1px solid #e2e2e2;
  margin-left: -1em;
  margin-right: -1em;
}
.header {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}
